<li class="nav-item">
    @Html.ActionLink("Trang Chủ", "Index", "Home", null, new { @class = "nav-link" })
</li>
<li class="nav-item">
    @Html.ActionLink("Profile", "Index","StudentView",null, new { @class = "nav-link" })
</li>